/* Header.css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Ajuste conforme necessário */
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #c0c0c0; /* Muda a cor do texto ao passar o mouse */
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px; /* Ajuste o padding para o botão */
    border-radius: 5px; /* Borda arredondada */
    border: 1px solid white; /* Borda branca */
    background-color: black; /* Cor de fundo preta */
    color: white; /* Cor do texto */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.login-button:hover {
    background-color: #4f4f4f; /* Muda a cor ao passar o mouse */
}

.space-x-6 > *:not(:last-child) {
    margin-right: 1.5rem; /* Espaçamento entre os itens do menu */
}
