@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.container {
  max-width: 1400px;
}

nav {
  font-family: 'Inter', sans-serif;
}

link{
    color: white;
}